.attention {
  padding: 120px 0 100px;

  .form__term {
    margin: 0;
    font-size: 20px;

    @include r(1219) {
      text-align: center;
      position: relative;
      bottom: -10px;
    }

    @include r(1023) {
			bottom: 0;
			background-image: url(../img/adaptive-bg.jpg)
    }

    [class^=date-] {
      @include r(1219) {}

      @include r(1023) {
        display: inline;
      }
    }
  }

  .form__free {
    margin: 0 5px;
    font-size: 22px;

    @include r(1219) {
      position: relative;
      bottom: -10px;
    }

    @include r(1023) {
      margin: 7px 0 5px;
      bottom: 0;
    }
  }

  .timer__wrap {
    margin-left: 23px;
    padding-right: 9px;
    display: flex;
    align-items: center;

    @include r(1219) {
      margin-left: 0;
      padding-right: 0;
      flex-direction: column;
    }
  }

  .timer__title {
    max-width: 130px;
    margin-right: 5px;
    line-height: 1.1;

    @include r(1219) {
      max-width: none;
      margin-bottom: 5px;
    }

    @include r(1023) {
      margin-right: 0;
    }
  }

  .form__input-wrap {
    max-width: 265px;

    @include r(1219) {
      max-width: 205px;
    }

    @include r(1023) {
      max-width: 265px;
    }
  }

  .form__input {
    padding: 25px 20px 25px 57px;

    @include r(1023) {
      padding: 20px 20px 20px 57px;
    }
  }

  .form__button {
    max-width: 265px;
    margin-bottom: 25px;

    @include r(1023) {}
  }

  .form__note {
    width: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
    font-size: 15px;

    @include r(1023) {
      bottom: 4px;
    }
  }
}

.attention__right {
  max-width: 832px;
  margin-left: 34px;
  position: relative;

  @include r(1219) {
    width: 100%;
    max-width: 680px;
    margin-left: 25px;
  }

  @include r(1023) {
    max-width: 420px;
  }

  @include r(767) {
    max-width: 340px;
  }

  @include r(639) {
    max-width: none;
    margin-left: 0;
  }
}

.attention-content {
  display: flex;
  justify-content: flex-end;

  @include r(1023) {}
}

.attention__title {
  margin-bottom: 22px;
  text-align: left;

  @include r(1023) {
    margin-top: 0;
    text-align: center;
  }
}

.attention-form__body {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include r(1023) {
    flex-direction: column;
    align-items: center;
  }
}

.attention__pack {
  max-width: 245px;
  position: absolute;
  left: -280px;
  top: -24px;

  @include r(1023) {
    max-width: 285px;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @include r(639) {
    margin: 0 auto 10px;
    max-width: 200px;
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(0);
  }
}

.attention__quality {
  width: 74px;
  position: absolute;
  top: -42px;
  right: 0;

  @include r(1219) {
    width: 60px;
    top: -20px;
    right: -10px;
  }

  @include r(1023) {
    width: 74px;
    top: -10px;
  }

  @include r(639) {
    width: 60px;
  }
}

.attention-form__top {
  margin-bottom: 28px;
  display: flex;
  align-items: center;

  @include r(1219) {
    justify-content: space-between;
  }

  @include r(1023) {
    margin-bottom: 15px;
    flex-direction: column;
  }
}

.attention__button-wrap {
  min-width: 265px;
  position: relative;

  @include r(1219) {
    max-width: 225px;
    min-width: auto;
    width: 100%;
  }

  @include r(1023) {
    max-width: 265px;
  }
}
