.btn{
	box-shadow: inset 0 0 4px rgba(251, 109, 22, 0.48);
	border-radius: 10px;
	background-color: #d6123c;
	background-image: linear-gradient(to right, #f86503 0%, #f68b4a 26%, #f86503 50%, #f86503 51%, #f86503 74%, #f68b4a 84%, #f86503 100%);
	color: #ffffff;
	font-family: $main-font;
	font-size: 27px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: 900;
	padding: 10px 10px 9px;
	text-align: center;
	line-height: 23px;
	border-bottom: 5px solid #e36622;
	transition: all .4s ease-in-out;
	background-size: 200% 100%;
	cursor: pointer;
	&--small{
		display: block;
		font-size: 20px;
		font-weight: 500;
	}
	&:hover{
		background-position: 100% 100%;
	}
}
	