.header__content {
  display: flex;
  justify-content: flex-end;

  @include r(1023) {
    flex-direction: column;
    align-items: flex-end;
  }

  @include r(639) {
    align-items: center;
  }
}

.main__title {
  margin-bottom: 27px;
  font-size: 60px;
  color: $content-color;
  letter-spacing: 3.6px;
  text-align: left;

  @include r(1023) {
    text-align: center;
  }

  @include r(479) {
    margin-bottom: 15px;
    font-size: 50px;
  }
}

.main__content {
  width: 100%;
  max-width: 370px;
  margin-right: 30px;
  position: relative;

  @include r(1023) {
    max-width: none;
    margin-right: 0;
  }
}

.main__human {
  width: 783px;
  position: absolute;
  top: 100px;
  left: calc(50% - 970px);

  @include r(1219) {
    left: calc(50% - 1000px);
  }

  @include r(1023) {
    display: none;
  }
}

.main__form {
  position: relative;

  @include r(1023) {
    max-width: 270px;
    margin-bottom: 115px;
  }

  @include r(767) {
    margin-bottom: 105px;
  }

  @include r(639) {
    margin-bottom: 30px;
    max-width: none;
  }

  @include r(479) {
    margin-bottom: 25px;
  }
}

.pack {
  position: relative;
}

.pack__img {
  width: 310px;
  position: absolute;
  bottom: -119px;
  left: -341px;

  @include r(1219) {
    width: 270px;
    left: -290px;
    bottom: -80px;
  }

  @include r(1023) {
    left: 80px;
    bottom: -380px;
  }

  @include r(767) {
    left: 0;
  }

  @include r(639) {
    position: static;
    margin: 0 auto;
  }

  @include r(479) {
    width: 200px;
  }
}

.pack__quality {
  position: absolute;
  top: -344px;
  left: -129px;

  @include r(1219) {
    left: -115px;
  }

  @include r(1023) {
    top: 3px;
    left: 280px;
  }

  @include r(767) {
    width: 80px;
    left: 200px;
  }

  @include r(639) {
    left: 300px;
  }

  @include r(479) {
    width: 60px;
    top: -13px;
    left: 185px;
  }

}

.main__attention {
  margin-bottom: 50px;
  padding: 10px 23px;
  background: $content-color;
  font-size: 22px;
  line-height: 1.3;
  color: #ffffff;
  border-radius: 5px;

  @include r(1023) {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 20px;
  }

  @include r(639) {
    font-size: 18px;
  }

  @include r(479) {
    font-size: 16px;
  }
}

.main__list {
  margin-bottom: 53px;

  @include r(1023) {
    display: flex;
    margin: 0 auto 30px;
  }

  @include r(767) {
    display: block;
    max-width: 400px;
  }
}

.main__item {
  padding: 0px 10px 0px 67px;
  background: url('../img/bulit.png') no-repeat 0 50%;

  @include r(1023) {
    padding: 0px 10px 0px 50px;
  }

  @include r(479) {
    padding: 7px 10px 7px 40px;
    background-size: 30px;
  }
}

.main__item:not(:last-of-type) {
  margin-bottom: 24px;

  @include r(1023) {
    margin-bottom: 0;
  }

  @include r(767) {
    margin-bottom: 15px;
  }

  @include r(479) {
    margin-bottom: 7px;
  }
}

.main__text {
  font-size: 20px;
  line-height: 1.2;

  span {
    @include r(1023) {
      display: block;
    }

    @include r(479) {
      display: inline;
    }
  }

  br {
    @include r(1023) {
      display: none;
    }
  }

  @include r(479) {
    font-size: 16px;
  }
}

.main__last {
  width: 230px;
  margin-bottom: 50px;
  padding: 10px 50px 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.2;
  background: #fff;
  border: 1px solid #e1e1e1;
  position: relative;

  @include r(1023) {
    position: absolute;
    bottom: -503px;
  }

  @include r(767) {
    left: 22px;
  }

  @include r(639) {
    margin: 0 auto 30px;
    position: relative;
    left: 0;
    top: 0;
    bottom: auto;
  }
}

.main__pack {
  @include r(639) {
    margin-bottom: 10px;
  }

  @include r(479) {
    max-width: 270px;
    margin: 0 auto 10px;
  }
}

.main__count {
  position: absolute;
  color: $content-color;
  font-size: 32px;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.main__medal {
  padding: 5px 0;
}

.main__medals {
  display: flex;
  position: absolute;
  bottom: -86px;
  left: 10px;

  @include r(1023) {
    left: 50%;
    bottom: -570px;
    transform: translateX(-50%);
  }

  @include r(639) {
    margin-bottom: 15px;
    position: static;
    flex-wrap: wrap;
    justify-content: space-around;
    transform: translateX(0);
  }

  @include r(639) {
    max-width: 210px;
    margin: 0 auto 10px;
    justify-content: flex-start;
  }
}

.main__medal {
  padding-left: 80px;
  margin-right: 36px;

  &--1 {
    background: url("../img/icon-bottom1.png") no-repeat 0 0;
  }

  &--2 {
    margin-right: 47px;
    background: url("../img/icon-bottom2.png") no-repeat 0 0;
  }

  &--3 {
    padding-left: 63px;
    background: url("../img/icon-bottom3.png") no-repeat 0 0;

    @include r(767) {
      background-position: 10px 0;
    }

    @include r(479) {
      background-position: 0px 0;
    }
  }

  @include r(767) {
    margin-right: 15px;
    padding-left: 70px;
  }

  @include r(639) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  @include r(479) {
    background-size: 50px;
  }
}

.main__medal-text {
  font-size: 18px;
  line-height: 1.2;

  @include r(479) {
    font-size: 16px;
  }
}
