.header {
  background-color: #fff;

  &__wrap {
    margin-bottom: 80px;
    padding: 17px 0 14px;
    display: flex;
    align-items: center;

    @include r(1219) {
      justify-content: space-between;
    }

    @include r(1023) {
      margin-bottom: 30px;
      justify-content: space-around;
    }

    @include r(639) {
      padding: 17px 30px 14px;
    }

    @include r(479) {
      margin-bottom: 15px;
      flex-direction: column;
    }
  }
}

.header__info {
  display: flex;

  @include r(1023) {
    display: none;
  }
}

.header__logo {
  margin-right: auto;

  @include r(1219) {
    margin-right: 0;
  }

  @include r(479) {
    margin-bottom: 10px;
  }
}

.header__btn {
  max-width: 180px;
  height: 42px;
  margin-left: 120px;
  border-radius: 100px;
  font-size: 18px;

  @include r(1219) {
    margin-left: 0px;
  }
}

.info__item {
  position: relative;
}

.info__link {
  display: flex;
  align-items: center;
  color: #444444;
}

.info__link:hover {
  text-decoration: underline;
}

.info__item:not(:last-of-type) {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #e1e1e1;

  @include r(1219) {
    padding-right: 20px;
    margin-right: 20px;
  }
}

.info__icon {
  margin-right: 13px;
  flex-shrink: 0;
}
