.form__approved {
  margin-bottom: 15px;
  padding: 3px 0;
  padding-left: 60px;
  font-size: 14px;
  line-height: 1.3;
  background: url('../img/ministry.png') no-repeat 12px 50%;

  @include r(1299) {
    padding-left: 120px;
    background-position: 70px 50%;
  }
}

.form__action {
  width: 112px;
  height: 85px;
  right: -61px;
  top: -55px;
  display: block;
  position: absolute;
  background: url('../img/action-bg.png') no-repeat;

  @include r(1299) {
    left: -50px;
  }

  @include r(479) {
    top: -40px;
    left: -26px;
  }
}

.form__action-text {
  left: 50%;
  top: 50%;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-38deg);
}

.form__attention {
  margin-bottom: 11px;
  font-size: 28px;
  font-weight: 500;
}

.form__term {
  margin: 0 -10px 10px;
  font-size: 18px;
  font-weight: 500;
}

.form__free {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff3612;
}

.form {
  width: 100%;
  max-width: 270px;
  min-width: 270px;
  padding: 20px 20px 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid $content-color;
  text-align: center;
  position: relative;
  box-shadow: 0 21px 25px rgba(125, 133, 134, 0.15);
}

.form__input-wrap {
  margin-bottom: 15px;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 20px;
  padding-left: 57px;
  border-radius: 10px;
  border: 1px solid #dfe2e3;
  position: relative;
  font-size: 16px;
}

.form__input:hover {
  cursor: pointer;
  box-shadow: inset 2px 3px 4px rgba(2, 3, 3, 0.1);
}

.form__input-wrap--name::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/icon-name.png') no-repeat 50%;
  z-index: 1;
}

.form__input-wrap--tel::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/icon-tel.png') no-repeat 50%;
  z-index: 1;
}

.form .input::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

.form input::-moz-placeholder {
  color: #666;
  opacity: 1;
}

.form input:-moz-placeholder {
  color: #666;
  opacity: 1;
}

.form input:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

[class^="date-"] {
  display: inline-block;
  text-transform: lowercase;
}

.form__button {
  margin-bottom: 15px;
}

.form__button-free {
  font-size: 20px;
  font-weight: 500;
}

.form__note {
  text-align: center;
}

.form__secure {
  margin-top: 16px;
  padding: 5px 0 5px 60px;
  font-size: 15px;
  background: url("../img/icon-secure.png") no-repeat 24px 50%;
}

.promo .form__reviews-amount {
  margin-top: 23px;
  padding-left: 37px;

  &:before {
    display: none;
    // width: 119px;
    // left: 27px;
    // background: url(../img/star.png) repeat-x 0 50%;
    // background-size: 24px;
  }

  @include r(1023) {
    margin-top: 0;
    position: absolute;
    left: -257px;
    bottom: 60px;
  }

  @include r(767) {
    left: -355px;
    bottom: 3px;
  }

  @include r(639) {
    margin-top: 15px;
    position: relative;
    left: 0;
  }
}

.promo .reviews-amount__star {
  width: 120px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  background: url(../img/star.png) repeat-x 0 50%;
  background-size: 24px;
  position: relative;
  bottom: -2px;
}

.promo .reviews-amount__link {
  font-size: 15px;
  color: #444444;
  text-decoration: underline;
}

.x_price_previous,
.x_price_current,
.x_currency {
  font-size: 0;
  visibility: hidden;
}
