.reviews {
  padding: 85px 0;
  &-content {
    margin-top: 49px;
    border-radius: 10px;
    border: 1px solid #efefef;
    background-color: #f4f4f4;
    padding: 20px 30px 35px 35px;
    max-width: 970px;
    margin-left: auto;
		margin-right: auto;
		@include r(1219) {
		margin-top: 30px;
	 }
	 @include r(1023) {
		margin-top: 25px;
		padding: 25px;
	 }
	 @include r(767) {
		margin-top: 20px;
		padding: 20px;
	 }
	 @include r(479) {
		padding: 15px;
		padding-top: 19px;
	 }
  }
  &-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		@include r(767) {
		padding-bottom: 15px;
		 }
		 @include r(639) {
			flex-direction: column;
			
			 }
  }
  &-amount {
    color: #403737;
    font-size: 16px;
    line-height: 1;
    padding-left: 157px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-57%);
      left: 0;
      width: 142px;
      height: 23px;
      background: url(../img/star.png) repeat-x center;
    }
  }
  &-btn {
    max-width: 223px;
    font-size: 17px;
    border-width: 2px;
		padding: 9px 10px 8px;
		@include r(639) {
			margin-top: 10px;
			
			 }
  }
  &-list {
    margin-top: 30px;
    overflow: hidden;
		height: 490px;
		@include r(1023) {
			height: 480px;
		 }
		 @include r(767) {
			height: 470px;
		 }
    &-item {
      padding-bottom: 42px;
      padding-top: 35px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      &:first-child {
        padding-top: 0;
			}
			@include r(1023) {
				padding-bottom: 30px;
			 }
    }
  }
  &-item {
    &-top {
      display: flex;
			align-items: center;
			@include r(479) {
			flex-wrap: wrap;
				 }
    }
    &-avatar {
      width: 70px;
      height: 70px;
      background-color: #959595;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 30px;
			font-weight: 500;
			flex-shrink: 0;
			line-height: 1;
			@include r(767) {
				width: 50px;
				height: 50px;
				font-size: 24px;
			 }
    }
    &-title {
			margin-left: 20px;
			@include r(767) {
			margin-left: 10px;
			 }
    }
    &__name {
      color: #222222;
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 5px;
    }
    &__rating {
      width: 103px;

      height: 17px;
      background: url(../img/star.png) repeat-x left center;
      background-size: 21px 17px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/star-un.png) repeat-x left center;
        background-size: 21px 17px;
        width: 103px;
        height: 100%;
      }
    }
    &__date {
      margin-left: auto;
      opacity: 0.7;
      color: #403737;
      font-size: 15px;
			line-height: 1;
			@include r(400) {
				display: block;
				margin-left: 0;
				width: 100%;
				margin-top: 15px;
					 }
    }
    &__text {
      margin-top: 19px;
      color: #666666;
      font-size: 17px;
      line-height: 26px;
      max-height: 50px;
      overflow: hidden;
			transition: 0.4s;
			@include r(400) {
		margin-top: 10px;
					 }
    }
    &__btn {
      margin-top: 30px;
      color: #666666;
      font-size: 15px;
      line-height: 1;
      text-decoration: underline;
      padding-right: 28px;
      position: relative;
      background: none;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        text-decoration: none;
      }
      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-30%);
        background: url(../img/btn-arrow.png) no-repeat center;
        width: 14px;
        height: 8px;
        transition: 0.2s;
			}
			@include r(767) {
				margin-top: 20px;
				
				 }
    }
  }
  &-assessment {
    display: flex;
		margin-top: 30px;
		@include r(767) {
			margin-top: 20px;
						 }
						 @include r(479) {
							margin-top: 15px;
										 }
  }
}
.like,
.dislike {
  color: #666666;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  padding-left: 27px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    left: 0;
    background: url(../img/like.svg) no-repeat center;
    width: 18px;
    height: 16px;
  }
}
.dislike {
  margin-left: 30px;
  &:before {
    transform: translateY(-44%) scaleY(-1);
  }
}
.reviews-list-item.active .reviews-item__text {
  max-height: 800px;
}
.reviews-list-item.active .reviews-item__btn:before {
  transform: translateY(-30%) rotate(180deg);
}
.reviews--full .reviews-item__text {
  max-height: 100%;
}
.reviews--full .reviews-item__btn {
  display: none;
}

.feedback {
  margin-top: 32px;
	position: relative;
	display: none;
	@include r(767) {
		margin-top: 15px;
	
	 }
  &-top {
    display: flex;
		align-items: center;
		@include r(639) {
			flex-wrap: wrap;
			justify-content: center;
			 }
  }
  &-name {
		position: relative;
		@include r(639) {
			margin-top: 10px;
			display: block;
			width: 100%;
			order: 1;
			 }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      background: url(../img/name.svg) no-repeat center;
      width: 15px;
      height: 19px;
    }
    &-input {
      width: 300px;
      max-width: 100%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #dfe2e3;
      background-color: #ffffff;
      padding-left: 52px;
      padding-right: 15px;
      color: #666666;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 17px;
			font-weight: 300;
			@include r(639) {
				width: 100%;
				
				 }
      &::placeholder {
        color: #666666 !important;
        font-size: 17px;
        font-weight: 300 !important;
      }
    }
  }
  &-assessment {
    color: #666666;
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
		margin-left: 33px;
		@include r(767) {
			margin-left: 15px;
		
		 }
		 @include r(639) {
			margin-left: 0;
			 }
  }
  &-text {
    margin-top: 30px;
		position: relative;
		z-index: 0;
		@include r(767) {
			margin-top: 15px;
			
			 }
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 13px;
    //   left: 20px;
    //   background: url(../img/message.jpg) no-repeat center;
    //   width: 17px;
		// 	height: 18px;
		// 	z-index: 10;
		// 	display: block;
    // }
    &-input {
			padding-top: 9px;
			background: url(../img/message.jpg) 18px 15% no-repeat;
      border-radius: 5px;
      border: 1px solid #dfe2e3;
      background-color: #ffffff;
      width: 865px;
      height: 103px;
      max-width: 100%;
      padding-left: 52px;
      padding-right: 15px;
      color: #666666;
      font-size: 17px;
      font-weight: 300;
      font-family: "Roboto", Arial, Helvetica, sans-serif;
      &::placeholder {
        color: #666666 !important;
        font-size: 17px;
        font-weight: 300;
      }
    }
  }
  &-btn {
    margin-top: 25px;
		max-width: 183px;
		@include r(767) {
			margin-top: 15px;
			
			 }
			 @include r(639) {
				max-width: 100%;
			 }
  }
  &-rating {
    margin-left: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    width: 140px;
    height: 23px;
		background: url(../img/star-un.png) repeat-x center;
		@include r(767) {
		margin-left: 10px;
		
		 }
  }
  &-modal {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    &__inner {
      color: #222;
      text-align: center;
      position: absolute;
      z-index: 21;
      top: 50%;
      left: 50%;
      padding: 23px 50px 41px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
			background-color: #fff;
			border-radius: 5px;
			@include r(767) {
				padding: 20px;
				width: 250px;
				 }
		}
		&__text {
      font-size: 18px;
      font-weight: 300;
    }
    &__title {
      position: relative;
      margin-bottom: 12px;
      padding-top: 36px;
      font-size: 22px;
      font-weight: 500;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 28px;
        height: 28px;
        background-image: url(../img/header-2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }
}
.star1,
.star2,
.star3,
.star4,
.star5 {
  opacity: 0;
  cursor: pointer;
}
.feedback-rating.active1 .star1 {
  opacity: 1;
}
.feedback-rating.active2 .star1,
.feedback-rating.active2 .star2 {
  opacity: 1;
}
.feedback-rating.active3 .star1,
.feedback-rating.active3 .star2,
.feedback-rating.active3 .star3 {
  opacity: 1;
}
.feedback-rating.active4 .star1,
.feedback-rating.active4 .star2,
.feedback-rating.active4 .star3,
.feedback-rating.active4 .star4 {
  opacity: 1;
}
.feedback-rating.active5 .star1,
.feedback-rating.active5 .star2,
.feedback-rating.active5 .star3,
.feedback-rating.active5 .star4,
.feedback-rating.active5 .star5 {
  opacity: 1;
}
textarea{
	-ms-overflow-style: none;
}