extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "Купить Варилиф недорого. Цены, отзывы. Закажите Варилиф сейчас!";
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:700i|Roboto:300,400,400i,500,700,900&display=swap&subset=cyrillic")

append content
  include components/top-banner
  include components/promo
  include components/menu
  include components/clients
  include components/reviews

append scripts
  script(src="https://179523.selcdn.ru/public/prod-scripts/cis_footer.js")
