section.breakthrough.block.section-bg(id='breakthrough')
	.container
		h2.title.breakthrough__title
			span.product-color Варилиф 
			|- прорыв корейских ученых в&nbsp;лечении варикоза 
		.breakthrough-content
			.breakthrough__left
				img.breakthrough__photo(src="img/breakthrough.png", alt="корейские ученые")
				img.breakthrough__journal(src="img/breakthrough-journal.png", alt="научный журнал")
			.breakthrough__right
				p.breakthrough__text Ученые из Южной Кореи 2&nbsp;года работали над средством от&nbsp;варикоза, чтобы сделать его безопасным, эффективным и&nbsp;удобным в&nbsp;применении. В&nbsp;результате использования передовых научных наработок и&nbsp;новейшего оборудования специалистам удалось 
					span.text-bold усилить целительные свойства экстрактов лечебных растений в&nbsp;10&nbsp;раз. Так был создан Варилиф.
				p.breakthrough__text.text-bold Тестовый образец геля снимал боль в&nbsp;ногах в&nbsp;течение первых минут после нанесения, активизировал кровообращение в&nbsp;нижних конечностях, а&nbsp;также приводил в&nbsp;норму работу венозных клапанов.
				p.breakthrough__text Варилиф был не просто одобрен независимой медицинской комиссией, но&nbsp;и&nbsp;был принят в&nbsp;качестве основного и&nbsp;терапевтического препарата в&nbsp;спортивной медицине, как в&nbsp;Корее, так и&nbsp;за ее&nbsp;пределами.

