section.composition.block(id='composition')
	.container
		h2.title В составе 
			span.product-color Варилиф 
			|комплекс 
			br 
			| лечебных растений
		p.subtitle свойства которых были усилены благодаря новым технологиям
		.composition-content
			.composition-item-box
				.composition-item
					.composition-item__img
						img(src='img/composition-1.png' alt='composition')
						span.composition-line
					.composition-item-info
						h4.composition-item__title Конский каштан
						p.composition-item__text Снимает боль, отеки, противостоит образованию в сосудах тромбов, 
							br 
							| устраняет спазмы сосудов, укрепляет стенки вен
				.composition-item
					.composition-item__img
						img(src='img/composition-3.png' alt='composition')
						span.composition-line
					.composition-item-info
						h4.composition-item__title Софора японская
						p.composition-item__text Снимает воспаление, уменьшает боль, заживляет раны, повышает сопротивляемость капилляров, возвращает сосудам эластичность
			.composition-pack
				img.composition-pack__img(src='img/pack.png' alt='Варилиф')
				img.composition-pack__certificate(src='img/certificate.jpg' alt='certificate')
			.composition-item-box.composition-item-box--margin
				.composition-item
					.composition-item__img
						img.fix-h(src='img/composition-2.png' alt='composition')
						span.composition-line.composition-line--right
					.composition-item-info
						h4.composition-item__title Инжир
						p.composition-item__text Обладает мощным свойством рассасывания уже имеющихся
							br
							| в венах тромбов, и снимает зуд, возвращает коже естественный цвет 
				.composition-item
					.composition-item__img
						img(src='img/composition-4.png' alt='composition')
						span.composition-line.composition-line--right
					.composition-item-info
						h4.composition-item__title Донник лекарственный
						p.composition-item__text Устраняет ночные судороги,
							br
							| обладает антиоксидантными
							br
							| свойствами, разжижает кровь
