section.doctor.block
	.container
		h2.title «
			span.product-color Варилиф 
			| – корейские специалисты 
			span.text-nowrap при создании 
			| лекарств опираются на природу 
			span.text-nowrap и новые 
			| технологии» 
		.doctor-content
			.doctor-content-img
				img(src="img/doctor.png", alt="Геннадий Б")
			.doctor-text
				p.doctor-text__q – Как лечить варикоз?
				p.doctor-text__a Как можно раньше и правильным средством.
				p.doctor-text__a Варилиф – это правильное средство от варикоза. Он помогает избавиться от боли в ногах, быстрой утомляемости, снимает отеки, устраняет судороги, зуд и покраснение кожи на ногах.
				p.doctor-text__a Этот гель помогает вне зависимости от причин появления варикоза: наследственная предрасположенность, переутомление, гормональные нарушения, сидячая или стоячая работа, неудобное белье и обувь.
				p.doctor-text__q – Что будет, если использовать этот гель ежедневно 
					span.text-nowrap и пройти 
					| весь курс лечения?
				p.doctor-text__a У вас перестанут болеть и неметь ноги, пройдут судороги и отеки, исчезнет венозная сетка, а набухшие вены разгладятся. Женщины смогут носить юбки любой длины,  а мужчины заменить брюки на шорты в летний зной.
				p.doctor-text__a И главное, варикоз перестанет угрожать вашему здоровью и жизни.
				h3.doctor-text__name Геннадий Бельский,
				p.doctor-text__post ведущий флеболог частной клиники Москвы, член Американской коллегии флебологов
