section.fakes.block
	.container
		h2.title Внимание! 
			span.red Остерегайтесь подделок!
		.fakes-content
			.fakes-box
				.fakes-box__text С ростом популярности Варилиф на рынке СНГ, участились случаи подделок. 
					br 
					| Наш же продукт продается в оригинальной упаковке с уникальным регистрационным кодом! Найдите код на упаковке и проверьте подлинность Варилиф. 
				.fakes-box__code Отправьте DAT-код по СМС на номер 3888, в ответ получите информацию о подлинности товара.
				.fakes-box__sms 
					span Проверьте, что услуга отправки смс на короткий номер не отключена. Бесплатные СМС на номер 3888 подключены в РФ, Армении и Беларуси. 
					b 
						span.underline Только первая проверка
						|  подтверждает подлинность. Только для товаров, защищенных Системой DAT.

			.fakes-pack
				img(src="img/pack.png", alt="Варифил")
				.fakes-pack__num 536427639800009
	