<footer class="footer">
  <div class="container">
		<div class="footer-top">
			<div class="footer-top-delivery">
					<h3 class="footer-delivery__title">Доставка почтой или курьером</h3>
					<p class="footer-delivery__text">Конфиденциальность гарантирована.
							Оплата при получении</p>
			</div>
			<div class="footer-top-online">
					<div class="footer-online-first">
							<div class="footer-first__circle"></div>
							<div class="footer-first__num"><b class="footer__count--online">42</b> оператора онлайн</div>
					</div>
					<div class="footer-online-first">
							<div class="footer-first__circle footer-first__circle--color"></div>
							<div class="footer-first__num"><b class="footer__count--offline">24</b> разговаривают</div>
					</div>
					<div class="footer-online__text">Круглосуточно без выходных — заказывайте!</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-bottom-pay">
				<div class="footer-bottom__title ">Оплата:</div>
					<ul class="footer-pay-payment">
						<li class="footer-pay-system">
								<img src="img/Mastercard-logo.png" alt="Mastercard" class="footer-system__logo">
								<h4 class="footer-system__name">Mastercard</h4>
						</li>
						<li class="footer-pay-system">
								<img src="img/visa.png" alt="Visa" class="footer-system__logo">
								<h4 class="footer-system__name">Visa</h4>
						</li>
						<li class="footer-pay-system">
								<img src="img/cash.png" alt="cash.png" class="footer-system__logo">
								<h4 class="footer-system__name">Cash</h4>
						</li>
					</ul> 	
			</div>
			<div class="footer-bottom-way">
					<div class="footer-bottom__title footer-bottom__title--m">Доставка:</div>
					<ul class="footer-way-list">
						<li class="footer-way__item">
							<img src="img/logo-car.svg" alt="Доставка курьером">
							<div class="footer-way__text">Доставка курьером</div>
						</li>
						<li class="footer-way__item">
								<img src="img/mail.png" alt="Почта России">
								<div class="footer-way__text">Почта России</div>
							</li>
					</ul>
			</div>
		</div>
    <div
      class="create_rom_footer"
      data-color_text="#666666"
      data-color_link="#666666"
      data-color_logo="#ed8026"
    ></div>
  </div>
</footer>
