.header__content
    .main__human
        img.main__img(src="img/human.png", alt="girl")
    .main__content
        h1.title.main__title    ВАРИЛИФ
        p.main__attention инновационная разработка корейских ученых от варикоза теперь доступна странам СНГ
        ul.main__list
            li.main__item
                p.main__text
                    span.text-bold    Устраняет
                    |   боль, отеки
                    br
                    |   и тяжесть в ногах
            li.main__item
                p.main__text 
                    span.text-bold Убирает 
                    |   варикозную сетку
                    br
                    |   и набухшие вены
            li.main__item
                p.main__text 
                    span.text-bold Снимает 
                    |   усталость ног
                    br
                    |   и воспаление
        p.main__last    Количество акционных товаров ограниченно:
            span.main__count.lastpack.text-black    13
        .main__pack.pack
            img.pack__img(src="img/pack.png", alt="Varilif")
            img.pack__quality(src="img/quality_.png", alt="quality sign")
        ul.main__medals.medals
            li.main__medal.main__medal--1
                p.main__medal-text  Без&nbsp;побочных
                    br
                    | эффектов
            li.main__medal.main__medal--2
                p.main__medal-text  Контроль
                    br
                    | качества
            li.main__medal.main__medal--3
                p.main__medal-text  Запатентованая
                    br
                    | формула
    .main__form
        p.form__approved    ОДОБРЕНО
            br
            | МИНЗДРАВОМ РФ
        form.form.x_order_form(action="/submit" method="post")
            .form__top
                p.form__attention   Внимание!
                p.form__term    Только сегодня 
                    span.date-0(data-format="dd month") 22 октября
                p.form__free.text-bold БЕСПЛАТНО!*
            .form__input-wrap.form__input-wrap--name
                input.form__input.form__input--name(type="text" name="name" placeholder="Мое имя" required)
            .form__input-wrap.form__input-wrap--tel
                input.form__input.form__input--tel(type="tel" name="phone" placeholder="Мой телефон" required)
            button.form__button.btn Получить
                br
                |
                span.form__button-free бесплатно
            p.form__note    *при оформлении заказа