.header__content
    .main__human
        img.main__img(src="img/human.png", alt="girl")
    .main__content
        h1.title.main__title    ВАРИЛИФ
        p.main__attention инновационная разработка корейских ученых от варикоза теперь доступна странам СНГ
        ul.main__list
            li.main__item
                p.main__text
                    span.text-bold    Устраняет
                    |   боль, отеки
                    br
                    |   и тяжесть в ногах
            li.main__item
                p.main__text 
                    span.text-bold Убирает 
                    |   варикозную сетку
                    br
                    |   и набухшие вены
            li.main__item
                p.main__text 
                    span.text-bold Снимает 
                    |   усталость ног
                    br
                    |   и воспаление
        p.main__last    Количество акционных товаров ограниченно:
            span.main__count    13
    .main__form
        form.form.x_order_form(action="/submit" method="post")

