.header__content
    .main__human
        img.main__img(src="img/human.png", alt="girl")
    .main__content
        h1.title.main__title    ВАРИЛИФ
        p.main__attention инновационная разработка корейских ученых от&nbsp;варикоза теперь доступна странам&nbsp;СНГ
        ul.main__list
            li.main__item
                p.main__text
                    span.text-bold    Устраняет
                    |   боль, отеки
                    br
                    |   и&nbsp;тяжесть в&nbsp;ногах
            li.main__item
                p.main__text 
                    span.text-bold Убирает 
                    |   варикозную сетку
                    br
                    |   и&nbsp;набухшие вены
            li.main__item
                p.main__text 
                    span.text-bold Снимает 
                    |   усталость ног
                    br
                    |   и&nbsp;воспаление 
        p.main__last    Количество акционных товаров ограниченно:
            span.main__count.lastpack.text-black    13
        .main__pack.pack
            img.pack__img(src="img/pack.png", alt="Varilif")
            img.pack__quality(src="img/quality_.png", alt="quality sign")
        ul.main__medals.medals
            li.main__medal.main__medal--1
                p.main__medal-text  Без&nbsp;побочных
                    br
                    | эффектов
            li.main__medal.main__medal--2
                p.main__medal-text  Контроль
                    br
                    | качества
            li.main__medal.main__medal--3
                p.main__medal-text  Запатентованая
                    br
                    | формула
    include main-form