ul.header__info
    li.info__item.info__line
        a.info__link(href="#composition")
            img.info__icon(src="img/header-1.png", alt="header-1")
            p.info__text Натуральный 
                br
                |состав
    li.info__item.info__line
        a.info__link(href="#stat")
            img.info__icon(src="img/header-2.png", alt="header-2")
            p.info__text Без побочных 
                br
                |эффектов
    li.info__item
        a.info__link(href="#breakthrough")
            img.info__icon(src="img/header-3.png", alt="header-3")
            p.info__text Новейшая 
                br
                |формула
