.main__form
    p.form__approved    ОДОБРЕНО
        br
        | МИНЗДРАВОМ РФ
    form.form.x_order_form(action="/submit" method="post")
        .form__action
            span.form__action-text.text-black Акция
        .form__top
            p.form__attention   Внимание!
            p.form__term    Только сегодня 
                span.date-0(data-format="dd month") 22 октября
            p.form__free.text-bold БЕСПЛАТНО!*
        .form__input-wrap.form__input-wrap--name
            input.form__input.form__input--name(type="text" name="name" placeholder="Мое имя" required)
        .form__input-wrap.form__input-wrap--tel
            input.form__input.form__input--tel(type="tel" name="phone" placeholder="Мой телефон" required)
        button.form__button.btn Получить
            br
            |
            span.form__button-free бесплатно
        p.form__note    *при оформлении заказа
    p.form__secure Ваши данные защищены!
    .form__rate