nav.menu
    .container
        button.menu__button(type="button")
            span.menu__line
    .menu__overlay
    .menu__wrapper
        a(href="#home")
            img(src="img/logo.png", alt="Varilif")
        button.menu__close(type="button")
        .menu__body
            include header__info
            include timer
            button.form__button.btn.menu__btn.ever-popup-btn Получить
                br
                |
                span.form__button-free бесплатно
