section.move.block
	.container
		.move-content
			.move-pack
				img(src="img/pack.png", alt="Варилиф ")
				span.move-pack__action
					.move-pack__text Акция
			.move-info
				h3.move__title Только сегодня 
					b.date-0.text-nowrap(data-format='dd month') 22 октября	
					span.move__title--color  БЕСПЛАТНО 
					b.text-nowrap  при оформлении заказа!
				.timer.move-timer
					.timer__title.move-timer__title До конца акции осталось:
					.timer__body
						.timer__cell.hours 0
						.timer__cell.hours 0
						.timer__colon :
						.timer__cell.minutes 27
						.timer__cell.minutes 27
						.timer__colon :
						.timer__cell.seconds 0
						.timer__cell.seconds 0
				.btn.move-btn.ever-popup-btn Получить 
					.btn--small бесплатно