.ever-popup-build
	.my-popup(id="cloneThis")
		.my-popup__wrap
			.my-popup__left
				.my-popup__pack
					img(src="img/pack.png", alt="Varilif")
					img.my-popup__quality(src="img/quality_.png", alt="quality sign")
			.my-popup__right
				include main-form
