section.reviews.block(id='reviews')
	.container
		h2.title Отзывы людей, которым помог 
			span.product-color Варилиф
		.reviews-content
			.reviews-panel
				.reviews-amount 142 отзыва
				button.btn.reviews-btn Оставить свой отзыв
			.feedback
				.feedback-form
					.feedback-top
						.feedback-name
							input.feedback-name-input.input__val-1(
									type='text'
									name='name'
									required
									placeholder='Ваше имя'
								)
						.feedback-assessment Ваша оценка
						.feedback-rating
							img.star1(src='img/star.png')
							img.star2(src='img/star.png')
							img.star3(src='img/star.png')
							img.star4(src='img/star.png')
							img.star5(src='img/star.png')
					.feedback-text
						textarea.feedback-text-input.input__val-3(name="" placeholder='Ваше сообщение')
					.feedback-btn.btn.reviews-btn Отправить
				.feedback-modal
					.feedback-modal__inner
						.feedback-modal__title Спасибо!
						.feedback-modal__text Ваш отзыв отправлен на модерацию
			ul.reviews-list
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Виктория Т.
							.reviews-item__rating
						.reviews-item__date.date-1
					.reviews-item__text Препарат нормальный, быстро впитывается и быстро боль убирает. Чтобы стенки вен прямо стали бесцветными я не заметила, но я его только 1 неделю использую. Дальше посмотрим. 
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 12
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анастасия В.
							.reviews-item__rating(style={'width': '90px'})
						.reviews-item__date.date-2
					.reviews-item__text Тяжесть в ногах прошла через три дня. Приятно удивлена, что так быстро помог. Но не нравится, что форма выпуска гель, я больше привыкла к кремам.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 17
						.dislike 3
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Андрей Щ.
							.reviews-item__rating
						.reviews-item__date.date-3
					.reviews-item__text Классная штука. Варкоза у меня нет, но когда вечером ноги болят после работы, то я мажу Варилиф и боль уходит.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 24
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar M
						.reviews-item-title
							h4.reviews-item__name Марина К.
							.reviews-item__rating(style={width: '60px'})
						.reviews-item__date.date-3
					.reviews-item__text На сам Варилиф нареканий нет, помогает хорошо. Но доставка подкачала, ехал он на два дня дольше, чем было оговорено, а это критично. Подучите своих менеджеров!!
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 31
						.dislike 12
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar E
						.reviews-item-title
							h4.reviews-item__name Евгений Б.
							.reviews-item__rating
						.reviews-item__date.date-4
					.reviews-item__text Заказывал для жены, а то на боль в ногах жаловалась. Мажет, на боль не жалуется больше.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 27
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Александра П.
							.reviews-item__rating(style={width: '80px'})
						.reviews-item__date.date-6
					.reviews-item__text Вены светлеют через три недели и не раньше, но нужно мазать каждый день.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 19
						.dislike 3
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Маргариты Б.
							.reviews-item__rating(style={width: '96px'})
						.reviews-item__date.date-7
					.reviews-item__text Отеки, как рукой сняло, а до этого кремом пользовалась и ничего не помогло и только тратила нервы. Варилиф советую всем с варикозом.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 29
						.dislike 2
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Л
						.reviews-item-title
							h4.reviews-item__name Людмила В.
							.reviews-item__rating(style={width: '62px'})
						.reviews-item__date.date-8
					.reviews-item__text Заказала, но пока так и не получила, напутали на почте и отправили обратно на склад куда-то. Теперь жду, когда же приедет.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 23
						.dislike 7
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Ирина Б.
							.reviews-item__rating
						.reviews-item__date.date-10
					.reviews-item__text Покупала для мамы и вроде гель и помог и вены стали светлей, но не исчезли полностью, хотя ноги, она сказала, что больше не болят.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 16
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar М
						.reviews-item-title
							h4.reviews-item__name Мария Ш.
							.reviews-item__rating
						.reviews-item__date.date-10
					.reviews-item__text Избавилась от болей и отеков и надеюсь что варикоз не вернется.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 12
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Валерий Г.
							.reviews-item__rating
						.reviews-item__date.date-11
					.reviews-item__text Ноги болели, знакомая врач посоветовала Варилиф. Заказал, стал обрабатвать ноги и боль ушла. Хоть бы надолго, а то работаю я на ногах весь день.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 23
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar К
						.reviews-item-title
							h4.reviews-item__name Карина Д.
							.reviews-item__rating
						.reviews-item__date.date-12
					.reviews-item__text Очень хороший гель, хотя и ожидала, что упаковка будет больше. А то пришлось через три недели еще упаковку заказывать. Но вены под коленками я убрала.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 27
						.dislike 4
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar О
						.reviews-item-title
							h4.reviews-item__name Оксана М.
							.reviews-item__rating
						.reviews-item__date.date-13
					.reviews-item__text Варилиф очень советую у кого болят ноги из-за варикоза, потому что мне очень этот гель помог и я теперь снова высыпаюсь нормально.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 34
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Вероника К.
							.reviews-item__rating
						.reviews-item__date.date-15
					.reviews-item__text Два раза помазать ноги в день и никаких судорог и боли в ногах.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 53
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Л
						.reviews-item-title
							h4.reviews-item__name Лариса С.
							.reviews-item__rating
						.reviews-item__date.date-15
					.reviews-item__text Помогает от болей, быстро втирается. Не нужно остатки салфеткой убирать. И коже на пользу идет.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 14
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar О
						.reviews-item-title
							h4.reviews-item__name Олег Т.
							.reviews-item__rating
						.reviews-item__date.date-15
					.reviews-item__text Пользуюсь, когда ноги болят после пробежки.  

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 11
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Т
						.reviews-item-title
							h4.reviews-item__name Татьяна В.
							.reviews-item__rating(style={width: '97px'})
						.reviews-item__date.date-16
					.reviews-item__text Обычный гель от болей при варикозе, боль снимает в течение 10 минут.  

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 18
						.dislike 3
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Б
						.reviews-item-title
							h4.reviews-item__name Богдана С.
							.reviews-item__rating
						.reviews-item__date.date-18
					.reviews-item__text Венозная сетки стала меньше, но я еще и массаж делала и упражнения, специальные для ног, чтобы стенки вен укрепить.  

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 22
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar А
						.reviews-item-title
							h4.reviews-item__name Анна Б.
							.reviews-item__rating
						.reviews-item__date.date-18
					.reviews-item__text Помог мне от монотонной боли в ногах.  

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 14
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Е
						.reviews-item-title
							h4.reviews-item__name Екатерина Т.
							.reviews-item__rating
						.reviews-item__date.date-18
					.reviews-item__text Хороший препарат, который быстро облегчает боль и разглаживает вены.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 28
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Ю
						.reviews-item-title
							h4.reviews-item__name Юлия М.
							.reviews-item__rating
						.reviews-item__date.date-19
					.reviews-item__text О, чудо! Я не верю, что это произошло! Мои ноги снова как в 20 лет) Конец моим страданиям, бегу за новой юбкой. И платьем. Коротким! Спасибо создателям этого средства, оно творит чудеса!

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 11
						.dislike 0
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar С
						.reviews-item-title
							h4.reviews-item__name Сергей Ф.
							.reviews-item__rating
						.reviews-item__date.date-20
					.reviews-item__text Я по натуре скептик и долго сомневался, покупать ли варилиф. Но мой плачевный опыт миллионов разных методов лечения завел меня в тупик и я решил рискунть… Купил, пользовался наверное дней 5 – особых изменений не происходило. Разве что ноги стали болеть меньше. Но потом, ребята! Когда я прошел весь указаный курс, вены на ногах исчезли полностью! Это неевроятно! Не думал, что такую болезнь побеит такой недорогой тюбик геля. Советую всем отчаявшимся. Работает!!!

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 17
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Г
						.reviews-item-title
							h4.reviews-item__name Галина М.
							.reviews-item__rating
						.reviews-item__date.date-21
					.reviews-item__text Соседка пользуется и мне посоветовала. Эффект есть, мой варикоз был в ужасном состоянии. Я плакала ночами. Теперь – все прошло. Смело берите, варилиф того стоит.

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 9
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Иван В.
							.reviews-item__rating
						.reviews-item__date.date-22
					.reviews-item__text Гель хороший. Состав детально продуман специалистами и делает свое дело. 

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 18
						.dislike 0
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar О
						.reviews-item-title
							h4.reviews-item__name Оксана В.
							.reviews-item__rating
						.reviews-item__date.date-23
					.reviews-item__text Такой счастливой я давно себя не помню)) Намучалась с этими ногами. Муж ушел год назад, чувствовала себя одинокой, да еще и с больными ногами(( После курса варилифа исчезли все симптомы варикоза! И меня пригласил на свидание коллега, который давно нравится. Одену-ка я платье ,да покороче)))))) 

					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 21
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar В
						.reviews-item-title
							h4.reviews-item__name Виталина К.
							.reviews-item__rating
						.reviews-item__date.date-24
					.reviews-item__text Мне 30 лет и стала замечать появление венозной сетки на одной ноге. Теперь кроме целлюлита борюсь еще и с ней. Что за жизнь… Заказала здесь варилиф и не прогадала. Сетки – как не бывало! Урааааааа
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 27
						.dislike 0
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar С
						.reviews-item-title
							h4.reviews-item__name Светлана Е.
							.reviews-item__rating
						.reviews-item__date.date-24
					.reviews-item__text В моем возрасте варикоз проявляется у многих. Я не стала исключением. Боролась с ним, чем могла, все бесполезно. Сестра посоветовала купить варилиф. Ей помог очень хорошо. Я стала мазаться, как положено, 2 раза в день. Уже на следующий день боль ушла, вены успокоились и стали намного светлее.
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 19
						.dislike 0
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar Ф
						.reviews-item-title
							h4.reviews-item__name Федор С.
							.reviews-item__rating
						.reviews-item__date.date-25
					.reviews-item__text Это мой первый в жизни отзыв, не удержался, чтоб не поделится советом. Варилиф буквально спас мои ноги! Волшебство какое-то. На моей стадии варикоза думал уже ничего мне не поможет. Все прошло! Берите, не пожалеете!
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 47
						.dislike 0
				li.reviews-list-item.reviews--full
					.reviews-item-top
						.reviews-item-avatar Д
						.reviews-item-title
							h4.reviews-item__name Дмитрий В.
							.reviews-item__rating
						.reviews-item__date.date-27
					.reviews-item__text Варилиф – просто маст-хев для людей с проблемными венами. Другого псредства просто нет, поймите! Кто бы что ни говорил. Он реально работает!!!
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 24
						.dislike 0
				li.reviews-list-item
					.reviews-item-top
						.reviews-item-avatar И
						.reviews-item-title
							h4.reviews-item__name Ирина Г.
							.reviews-item__rating
						.reviews-item__date.date-29
					.reviews-item__text Заказала на свой страх и риск и надо же, такой эфективный гель. Молодцы корейцы, знают толк. Раньше я возвращалась с работы и падала на диван, вены дико опухали, ноги отекали и болели. Сейчас ничего не безпокоит, кожа выровнялась, снова чуствую себя человеком. Спасибо!
					button.reviews-item__btn Прочитать весь отзыв
					.reviews-assessment
						.like 14
						.dislike 0



