section.stat.block(id='stat')
	.container
		h2.title В контрольном исследовании 
			span.product-color Варилиф 
			| участвовало 
			span.text-nowrap 5526 человек
		h3.subtitle с разными причинами варикозного расширения вен
		.stat-info
			.stat-info-box
				.stat-info__percent
					span.percent 94 
					|%
				.stat-info__text  Избавились от боли спустя несколько минут после нанесения
			.stat-info-box.stat-info-box--border
				.stat-info__percent.percent2 
					span.percent 91 
					|%
				.stat-info__text  Отметили отсутствие симптомов варикоза спустя 
					span.text-nowrap  1 месяц  
					|  применения
			.stat-info-box
				.stat-info__percent.percent3 
					span.percent 89 
					|%
				.stat-info__text Исчезла венозная сетка, вены стали незаметны
		.stat__notes Результаты тестирования могут варироваться 
			span.text-nowrap в зависимости 
			span.text-nowrap от стадии 
			| заболевания
		.stat-sert
			img(src="img/stat-sert-1.jpg", alt="sertificate")
			img(src="img/stat-sert-2.jpg", alt="sertificate")
			img(src="img/stat-sert-3.jpg", alt="sertificate")