section.symptoms.block
	.container
		h2.title Вы уверены, что у вас нет варикоза?
		p.symptoms__subtitle.subtitle присмотритесь к этим симптомам
		.symptoms-content
			.visible
				h3.symptoms-title Видимые симптомы
			.unvisible
				h3.symptoms-title Невидимые симптомы
				ul.unvisible__list
					li.unvisible__item
						p.unvisible__text Боль при ходьбе
					li.unvisible__item
						p.unvisible__text Холодные ноги
					li.unvisible__item
						p.unvisible__text Усталость ног
					li.unvisible__item
						p.unvisible__text Ночные судороги
					li.unvisible__item
						p.unvisible__text Покалывание
					li.unvisible__item
						p.unvisible__text Чувство жжения
					li.unvisible__item
						p.unvisible__text Зуд
					li.unvisible__item
						p.unvisible__text Онемение
					li.unvisible__item
						p.unvisible__text Тяжесть в ногах
					li.unvisible__item
						p.unvisible__text Боль в состоянии покоя
			p.symptoms__footer Любой из этих симптомов&nbsp;- 
				br
				| признак варикоза

