.timer
    .timer__wrap
        .timer__title До конца акции осталось:
        .timer__body.timer__body
            .timer__cell.hours 0
            .timer__cell.hours 0
            .timer__colon :
            .timer__cell.minutes 27
            .timer__cell.minutes 27
            .timer__colon :
            .timer__cell.seconds 0
            .timer__cell.seconds 0
