.top-banner(id='home')
    .container
        p.top-banner__text В связи с резким увеличением количества заказов, препарат может быть отправлен только 
            span.top-banner__accent.text-nowrap через 4 дня