section.unique.block
	.container
		h2.title.unique__title
			span.product-color Варилиф 
			|- уникальное средство, которое доступно в&nbsp;СНГ
		p.unique__subtitle.subtitle возвращает ногам здоровье и&nbsp;красоту
		.unique-content
			.unique__left
				ul.unique-list
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Устраняет боль, снимает отеки и&nbsp;воспаление, уменьшает чувство тяжести, 
								span.text-bold предотвращает развитие варикоза
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Укрепляет стенки сосудов, возвращает им&nbsp;эластичность, 
								span.text-bold очищает и&nbsp;разглаживает вены
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Активизирует кровообращение, улучшает микроциркуляцию, 
								span.text-bold устраняет сосудистую сетку
			.unique__right
				.unique__pack.pack
					img.unique__img(src="img/pack.png", alt="Varilif")
					img.unique__quality(src="img/quality_.png", alt="quality")
					img.unique__certificate(src='img/certificate.jpg' alt='certificate')
		.unique__footer
			p.unique__footer-text.text-bold Не дайте варикозу испортить вам жизнь!