section.use.block
	.container
		h2.title Как применять 
			span.product-color Варилиф 
		.use-content
			.use-pack
				img(src="img/pack.png", alt="Варилиф")
			ul.use-list
				li.use-list-item
					.use-item__img.use-item__img--bg.use-item__img--line
						img(src="img/use-1.png", alt="use")
					p.use-item__text Наносить гель на кожу утром и вечером
				li.use-list-item
					.use-item__img.use-item__img--line
						img(src="img/use-2.png", alt="use")
					p.use-item__text Втирать массажными движениями до полного впитывания
				li.use-list-item
					.use-item__img
						img(src="img/use-3.png", alt="use")
					p.use-item__text Рекомендованный курс от 30 дней
		.use-bottom
			img.use-doctor-img(src="img/doctor.png", alt="doctor")
			.use-bottom-content
				.use-bottom-doctor
					.use-doctor-info
						.use-doctor__name Рекомендации доктора Бельского
						.use-doctor__prof эксперт флеболог
					.use-doctor-clinical
						img(src="img/clinical-logo.png", alt="clinical")
						.use-clinical__name Ведущий флеболог частной клиники “Ваше Здоровье”
				ul.use-bottom-recommendation
					li.use-recommendation-item 
						b Чтобы ускорить эффект Варилиф, 
						| избегайте  лишней нагрузки на ноги, по возможности давайте ногам отдыхать и ходите босиком, откажитесь от высоких каблуков
					li.use-recommendation-item 
						b Для максимального эффекта Варилиф, 
						|  на ранних стадиях варикоза как можно чаще устраивайте расслабляющие ванночки для ног и массируйте ноги
					li.use-recommendation-item 
						b Для предупреждения варикоза,
						|  время от времени принимайте препараты, которые укрепляют стенки вен, носите компрессионные колготы и чулки 








					


