<section class="wPopup">
    <div class="container">
        <div class="wPopup__prod">
            <img src="img/pack.png" alt="Варифил" class="wPopup__prod__pack">
            <img src="img/action-bg.png" alt="action" class="wPopup__prod__sale">
            <span>Акция</span>
        </div>
        <div class="wPopup__until">Только сегодня <nobr><span class="date-0" data-format="dd month">22 октября</span></nobr> <span class="wPopup__until--color">БЕСПЛАТНО</span> при оформлении заказа</div>
        <div class="wrapper">
        <div class="wPopup__span">
            До конца акции<br> осталось
        </div>
        <div class="time__value">
 
                <span class="hours timer__cell"></span>
                <span class="hours timer__cell"></span>
     
            <span class="timer__colon wPopup__colon">:</span>

                <span class="minutes timer__cell"></span>
                <span class="minutes timer__cell"></span>

            <span class="timer__colon wPopup__colon">:</span>
 
                <span class="seconds timer__cell"></span>
                <span class="seconds timer__cell"></span>
     
        </div>
    </div>
    <div class="btndiv">
        <button class="ever-popup-btn btn">Получить бесплатно</button>

</div>

    </div>
</section>