$color-variable-example: crimson;
$text-cariable-example: "All Hail The Crimson King";

$main-font: "Roboto",
Arial,
Helvetica,
sans-serif;
$second-font: "Open Sans",
Arial,
Helvetica,
sans-serif;

$content-color: #915169;
$color-accent1: #ffb401;
$bg: url(../img/bg.jpg) no-repeat center / cover
